

a {
    color: blue;
    padding: 0 0 20px 0;
}

.color {
    background-color: #5C946E;
}

.header-color {
    background-color: #CCD7E4;
}

.text-c {
    color: #706C61;
}

.color-2 {
    background-color: #99C5B5;
}