body {
    background-color: red;
}

a {
    color: blue;
    padding: 0 0 20px 0;
}

.color {
    background-color: #CCD7E4;
}

.header-color {
    background-color: #5C946E;
}

.text-c {
    color: #706C61;
}